*{
    padding: 0%;
    margin: 0;
}

/*Header tag*/

header {
    background-color: rgb(51, 51, 51);
    z-index: -1;
}

.kep1{
    z-index: 1;
    margin-left: 10%;
    padding-left:30%;
    padding-right: 10%; 
}

.kep3{
    padding-left:10%;
    padding-right: 10%; 
}

#headerdiv1{
    width: 40%;
    height: 34px;
    float: left;
    background-color: rgb(51, 51, 51);
}

#headerdiv2{
    width: 60%;
    height: 34px;
    float: left;
    background-color: rgb(51, 51, 51);
    color: white;
}
/*Header tag*/

/*Navigációs pult*/

#nav1{
    float: left;
    width: 30%;
    padding-left: 20%;
}

#nav2{
    float: left;
    width: 40%;
    color: black;
    font-size: large;
    padding-top: 2%;
    padding-left: 0%;
    font-family: monospace;
}

/*Navigációs pult vége*/

#nagykep1{
    padding-bottom: 3%;
    wilth:1820px;
    height:800px;
}

#buszke{
    background-color: rgb(58, 58, 58);
    color:whitesmoke;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 27px;
    font-family: monospace;
    text-align: center;
}

#bk2{
    float: left;
    padding-top: 3%;
    padding-left: 23%;
}

#bk3{
    padding-top: 3%;
    padding-right: 23%;
    padding-left: 10%;
    margin-left: 27%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

.btn1{
    background-color: rgb(58, 58, 58);
    border: solid rgb(58, 58, 58);
    color:whitesmoke;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    font-size: 14px;
    margin-top: 63%;
    transition: 0.2s;
    border-radius: 5px;
}

.btn1:hover{
    background-color:gold;
    border: solid gold;
    color: black;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    font-size: 14px;
    margin-top: 63%;
    border-radius: 5px;
}